@import  "vars";
@import "mixins";
@import  "styles/sidebar.scss";
@import  "styles/table.scss";
@import  "styles/images.scss";
@import  "styles/icons/icon.scss";
@import "styles/inputs.scss";
@import "field-entering.scss";
@import "site.scss";
@import "styles/col-sm.scss";
@import "styles/buttons.scss";
@import "styles/users.scss";
@import "styles/title.scss";
body{
    background:linear-gradient(to bottom, #3B1D60,$blue) fixed;
    color:$white;
}

#app{
    position: relative;

}
// убираем сидибар
*{
    box-shadow: border-box;
}



.hide__text{
    display:none;
}


.content{
    position: absolute;
    // top:0;
    // right: 0;
    // left:200px;


}






.row:first-child{
    text-align: center;
}

.row.title{
    margin-top:10px;
}


















