$white:#fff;
$black: #000000;
$blue:blue;
$wrapper:#558abb;
$td-odd:linear-gradient(90deg, #aea4e3, #d3ffe8);
$td-even:linear-gradient(85deg, #fb63f9, #c2e534);

$tablet-bp: 991px;
$tablet-ver: 768px;
$mobile-bp:575px;
$mini-mobile:417px;