#app{
    position: relative;

}


.content{
    position: absolute;
    top:0;
    right: 0;
    left:300px;

}


.sidebar{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    width: 300px;
    z-index:100;
    padding : 10px;
    overflow-y:auto;
    box-shadow:inset -5px -5px 0 rgba(0, 0, 0, .9)


}


.col-sm{
    border:1px solid black;
}


.header,column{
    display:flex;
    flex-wrap: nowrap;
    max-width: 600px;
    width: 100%;

}