/*  table */


.table{
    text-align:center;

    margin:5px auto;
    color:#fff;



}

tr.person:hover{
    cursor:pointer;
}

.header,column{
    display:flex;
    flex-wrap: nowrap;

}


.row.header{
    font-weight: 700;
    margin-top:30px;
}

.row.person{
    text-align:left;
}




tr.person td:nth-child(odd){
    background: linear-gradient(90deg, #aea4e3, #d3ffe8) !important;
}

tr.person td:nth-child(even){
    background: linear-gradient(85deg, #fb63f9, #c2e534) !important;
} 